{% extends 'base.html.twig' %}

{% block title %}Documents index{% endblock %}

{% block body %}
<h3>Liste des documents</h3>
<hr>

<a class="btn btn-success float-end" href="{{ path('documents_new') }}"><i class="fas fa-plus"></i> Ajouter un
	Document</a>

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nom</th>
			<th class="text-center">-</th>
		</tr>
	</thead>
	<tbody>
		{% for document in documents %}
		<tr>
			<td class="fw-bold""">{{ document.id }}</td>
			<td>{{ document.name }}</td>
			<td class="text-center">
				<div class="btn-group" role="group" aria-label="Basic example">
					<a href="{{ path('documents_show', {'id': document.id}) }}"><button type="button"
							class="btn btn-primary btn-sm show-btn"><i class="fas fa-eye"></i></button></a>
					<a href="{{ path('documents_edit', {'id': document.id}) }}"><button type="button"
							class="btn btn-secondary btn-sm edit-btn"><i class="fas fa-edit"></i></button></a>
					{% include "documents/_delete_button.html.twig" %}
				</div>
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="3">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}