{% extends 'unauthenticated.html.twig' %}

{% block title %}Get Your Home{% endblock %}

{% block body %}
<div class="container d-flex flex-column justify-content-center align-items-center h-100">
	<img src="assets/img/logo.png" />
	<form method="post" action="{{path('app_login')}}" class="w-50 mt-4 p-4 shadow-sm border">

		{% if app.user %}
		<div class="">
			Vous êtes déjà connecté en tant que {{ app.user.email }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
		</div>
		{% endif %}

		<h4 class="h3 mb-3 font-weight-normal">Entrez vos identifiants</h4>
		<label for="inputEmail">Email</label>
		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
			autocomplete="email" required autofocus>
		<label for="inputPassword">Mot de passe</label>
		<input type="password" name="password" id="inputPassword" class="form-control mb-2" autocomplete="current-password"
			required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		{% if error %}
		<div class="alert alert-danger text-center p-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<button class=" btn btn-block btn-primary" type="submit">
			Connexion
		</button>
	</form>
</div>
{% endblock %}