{% extends 'base.html.twig' %}

{% block title %}Etapes{% endblock %}

{% block body %}
    <h1>Etapes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etape.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ etape.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('etapes_index') }}">Revenir à la liste</a>

    <a class="btn btn-warning" href="{{ path('etapes_edit', {'id': etape.id}) }}">Modifier</a>

    {{ include('etapes/_delete_form.html.twig') }}
{% endblock %}
