{% set client = app.user.clients %}

<div class="row">
	<h3>Vos projets</h3>
	<hr>
	{% for projet in projets %}
	{% if projet.etat.id is defined and projet.etat.id == 1 %}
	{% set colorClass = 'text-warning' %}
	{% elseif projet.etat.id is defined and projet.etat.id == 2 %}
	{% set colorClass = 'client' %}
	{% else %}
	{% set colorClass = 'text-success' %}
	{% endif %}
	<div class="card mb-4 ms-4" style="width: 48%;">
		<div class="card-body">
			<h4 class="card-title">{{projet.nom | upper}}</h4>
			<i class="fas fa-circle {{colorClass}}"></i>
			{% if projet.etat.libelle is defined %}
			{{ projet.etat.libelle }}
			{% endif %}
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Début: {{projet.datedebut | date('l d F Y')}}</li>
			<li class="list-group-item">Fin: {{projet.datefin | date('l d F Y')}}</li>
		</ul>
		<div class="card-body">
			{{form(forms['documents'][loop.index -1])}}
			{% if not done[loop.index -1] %}
			<a href="{{path('upload_index', {'id' : projet.id})}}" class="btn btn-primary w-50 btn-sm"><i class="fas fa-download"></i> Télecharger les
				justificatifs manquantes</a>
			{% endif %}
			{{form(forms['etapes'][loop.index -1])}}
		</div>
	</div>
	{% endfor %}
</div>