<section id="sidebar">
	<div id="logo" class="text-center">
		<img src="{{ asset('assets/img/logo-white.png') }}" alt="GYH logo">
	</div>
	{% if app.user %}
	<div class="mb-3 text-light">
		{{ app.user.email }} <a href="{{ path('app_logout') }}">Logout</a>
	</div>
	{% endif %}
	<div class="menu">
		{% if app.user %}
		<ul>
			<li>
				<a href="{{ path('projets_index') }}">
					<div class="row">
						<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
							<i class="fas fa-user"></i>
						</div>
						<div class="col-xl-10 col-lg-10 col-md-10 col-sm-11">
							<span>Projets</span>
						</div>
					</div>
				</a>
			</li>

			{% if app.user.isEmployee() %}
			<li>
				<a href="{{ path('clients_index') }}">
					<div class="row">
						<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
							<i class="fas fa-cogs"></i>
						</div>
						<div class="col-xl-10 col-lg-10 col-md-10 col-sm-11">
							<span>Clients</span>
						</div>
					</div>
				</a>
			</li>
			{% else %}
			<li>
				<a href="{{ path('clients_show', {'id': app.user.clients.id}) }}">
					<div class="row">
						<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
							<i class="fas fa-cogs"></i>
						</div>
						<div class="col-xl-10 col-lg-10 col-md-10 col-sm-11">
							<span>Mon compte</span>
						</div>
					</div>
				</a>
			</li>
			{% endif %}
		</ul>
		{% endif %}
	</div>
</section>