{% set menu_class = "list-group-item list-group-item-action" %}
{% set menu_icon_class = "col-xl-1 col-lg-1 col-md-1 col-sm-1" %}
{% set menu_item_class = "col-xl-10 col-lg-10 col-md-10 col-sm-11" %}

<section id="sidebar" class="shadow">
	<div class="user p-4">
		<div id="logo" class="text-center">
			<img src="{{ asset('assets/img/logo-white.png') }}" alt="GYH logo">
		</div>
		{% if app.user %}
		<hr>
		<div class="mb-3 mt-3 text-light">
			<a href="{{ path('app_logout') }}"><i class="fas fa-power-off"></i> Déconnexion</a>
			<br><span><i class="fas fa-user"></i> {{ app.user.email }}</span>
		</div>
		{% endif %}
	</div>

	<div class="menu p-4">
		<h3>Menu</h3>
		{% if app.user %}
		<ul class="list-group">
			<a href="{{ path('projets_index') }}">
				<li {% if app.request.attributes.get( '_route' ) starts with 'projets' or
					app.request.attributes.get( '_route' ) starts with 'upload' %} class="active {{menu_class}}" {%
					endif %} class="{{menu_class}}" {% if app.request.attributes.get( '_route' ) starts with 'clients'
					%} class="active" {% endif %}>

					<div class="row">
						<div class="{{menu_icon_class}}">
							<i class="fas fa-list-alt"></i>
						</div>
						<div class="{{menu_item_class}}">
							<span>Projets</span>
						</div>
					</div>
				</li>
			</a>

			{% if app.user.isEmployee() %}
			<a href="{{ path('clients_index') }}">
				<li {% if app.request.attributes.get( '_route' ) starts with 'clients' %} class="active {{menu_class}}"
					{% endif %} class="{{menu_class}}">

					<div class="row">
						<div class="{{menu_icon_class}}">
							<i class="fas fa-users"></i>
						</div>
						<div class="{{menu_item_class}}">
							<span>Clients</span>
						</div>
					</div>
				</li>
			</a>
			<a href="{{ path('administrateurs_index') }}">
				<li {% if app.request.attributes.get( '_route' ) starts with 'administrateurs' %}
					class="active {{menu_class}}" {% endif %} class="{{menu_class}}">

					<div class="row">
						<div class="{{menu_icon_class}}">
							<i class="fas fa-users"></i>
						</div>
						<div class="{{menu_item_class}}">
							<span>Employés</span>
						</div>
					</div>
				</li>
			</a>
			{% else %}
			<a href="{{ path('clients_show', {'id': app.user.clients.id}) }}">
				<li {% if app.request.attributes.get( '_route' ) starts with 'clients' %} class="active {{menu_class}}"
					{% endif %} class="{{menu_class}}">
					<div class="row">
						<div class="{{menu_icon_class}}">
							<i class="fas fa-cogs"></i>
						</div>
						<div class="{{menu_item_class}}">
							<span>Mon compte</span>
						</div>
					</div>
				</li>
			</a>
			{% endif %}
			{% if app.user.isAdmin() %}
			<a href="{{ path('documents_index') }}">
				<li {% if app.request.attributes.get( '_route' ) starts with 'documents' %}
					class="active {{menu_class}}" {% endif %} class="{{menu_class}}">

					<div class="row">
						<div class="{{menu_icon_class}}">
							<i class="fas fa-envelope"></i>
						</div>
						<div class="{{menu_item_class}}">
							<span>Documents</span>
						</div>
					</div>
				</li>
			</a>
			<a href="{{ path('etapes_index') }}">
				<li {% if app.request.attributes.get( '_route' ) starts with 'etapes' %} class="active {{menu_class}}"
					{% endif %} class="{{menu_class}}">

					<div class="row">
						<div class="{{menu_icon_class}}">
							<i class="fas fa-list"></i>
						</div>
						<div class="{{menu_item_class}}">
							<span>Etapes</span>
						</div>
					</div>
				</li>
			</a>
			<a href="{{ path('app_register') }}">
				<li {% if app.request.attributes.get( '_route' ) starts with 'app_register' %}
					class="active {{menu_class}}" {% endif %} class="{{menu_class}}">

					<div class="row">
						<div class="{{menu_icon_class}}">
							<i class="fas fa-users-cog"></i>
						</div>
						<div class="{{menu_item_class}}">
							<span>Administrateur</span>
						</div>
					</div>
				</li>
			</a>
			{% endif %}

		</ul>
		{% endif %}
	</div>
</section>