{% extends 'base.html.twig' %}

{% block title %}{{projet.nom}}{% endblock %}

{% block body %}
<a href="{{path('upload_index', {'id': projet.id})}}"  class="btn btn-secondary btn-sm"><i class="fas fa-arrow-left"></i> Retour</a>
<a href="{{path('projets_index')}}" class="btn btn-primary btn-sm"><i class="fas fa-list-alt"></i> Mes projets</a>
<hr>
<h3>Récapitulations des documents transférés</h3>

<h4>Projet <span class="badge bg-secondary">{{projet.nom|upper}}</span></h4>
{% if submitted %}
{% endif %}
{% for doc in submitted %}
<li class="text-success"><i class="fas fa-check"></i> {{doc.name}}</li>
{% endfor %}
{% if notSubmitted %}
{% endif %}
{% for doc in notSubmitted %}
<li class="text-danger"> <i class="fas fa-times"></i> {{doc.name}}</li>
{% endfor %}
{% endblock %}