{{ form_start(form) }}
    {{ form_row(form.nom) }}
	{{ form_row(form.dateDebut) }}
	{{ form_row(form.dateFin) }}
	{{ form_row(form.client) }}
	{{ form_row(form.etat) }}
	<div class="row">
		<div class="col-md-6">{{ form_row(form.etapes) }}</div>
		<div class="col-md-6">{{ form_row(form.documents) }}</div>
	</div>
    <div class="text-center">
    	<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
	</div>
{{ form_end(form) }}

{% block javascript %}
<script>
    jQuery(function () {
        $('#projets_dateFin').attr('required', false);
     });
</script>
{% endblock %}