{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
{% if projet.etat.id is defined and projet.etat.id == 1 %}
{% set colorClass = 'text-warning' %}
{% elseif projet.etat.id is defined and projet.etat.id == 2 %}
{% set colorClass = 'client' %}
{% else %}
{% set colorClass = 'text-success' %}
{% endif %}
<a class="btn btn-primary btn-sm" href="{{ path('projets_index') }}"><i class="fas fa-arrow-left"></i> Revenir à la liste</a>
<hr>
<h3>Détails du projet</h3>

<div class="card mb-4">
	<div class="card-body">
		<h4 class="card-title">{{projet.nom | upper}}</h4>
		<i class="fas fa-circle {{colorClass}}"></i>
		{% if projet.etat.libelle is defined %}
		{{ projet.etat.libelle }}
		{% endif %}
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">ID: {{projet.id}}</li>
		<li class="list-group-item">Début: {{projet.datedebut | date('l d F Y')}}</li>
		<li class="list-group-item">Fin: {{projet.datefin | date('l d F Y')}}</li>
	</ul>
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">{{form(form['etapes'])}}</div>
			<div class="col-md-6">{{form(form['documents'])}}</div>
		</div>
			<a class="btn btn-secondary btn-sm" href="{{ path('projets_edit', {'id': projet.id}) }}"><i class="fas fa-edit"></i> Modifier</a>
			{{ include('projets/_delete_form.html.twig') }}

	</div>
</div>





{% endblock %}