{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
<h1>Clients</h1>

<table class="table">
	<tbody>
		<tr>
			<th>Id</th>
			<td>{{ client.id }}</td>
		</tr>
		<tr>
			<th>Nom</th>
			<td>{{ client.nom }}</td>
		</tr>
		<tr>
			<th>Prenom</th>
			<td>{{ client.prenom }}</td>
		</tr>
		<tr>
			<th>DateNaissance</th>
			<td>{{ client.dateNaissance ? client.dateNaissance|date('Y-m-d') : '' }}</td>
		</tr>
		<tr>
			<th>Adresse</th>
			<td>{{ client.adresse }}</td>
		</tr>
		<tr>
			<th>CodePostale</th>
			<td>{{ client.codePostale }}</td>
		</tr>
		<tr>
			<th>Ville</th>
			<td>{{ client.ville }}</td>
		</tr>
		<tr>
			<th>Telephone</th>
			<td>{{ client.telephone }}</td>
		</tr>
		<tr>
			<th>Email</th>
			<td>{{ client.user.email }}</td>
		</tr>
	</tbody>
</table>


<a class="btn btn-warning" href="{{ path('clients_edit', {'id': client.id}) }}">Modifier</a>
{% if app.user.isEmployee() %}

{{ include('clients/_delete_form.html.twig') }}
<a class="btn btn-primary" href="{{ path('clients_index') }}">Revenir à la liste</a>
{% endif %}


{% endblock %}